$color-background = #1c2727
$color-footer-mobile-1 = lighten($color-background, 15%)
$color-footer-mobile-2 = lighten($color-background, 15%)
$color-background-code = darken($color-background, 15%)
$color-border = lighten($color-background, 10%)
$color-scrollbar = lighten($color-background, 10%)
$color-meta = lighten($color-background, 25%)
$color-meta-code = lighten($color-background, 10%)
$color-link = rgba(133, 255, 214, 1)
$color-text = #fff4e7
$color-accent-3 = #fff4e7
$color-accent-2 = #85ffd6
$color-accent-1 = #ff873c
$color-quote = #c2fadf
$highlight = hexo-config("highlight") || "rainbow"
